
body {
				background-color: #4e5d94;
}

header {
				background-color: #23272a;
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
}

header p {
				color: white;
				text-align: center;
				font-size: 20px;
}

header i {
			 color: white;
			 display: inline-flex;
			 align-items: center;
				justify-content: center;
				cursor: pointer;
				float: left;
				margin: 15px 15px 0 0;
				-webkit-tap-highlight-color: transparent;
}